tt,
pre,
code,
textarea,
.CodeMirror {
  font-weight: 400;
  font-family: Oxygen Mono, Courier New;
}

p {
  color: #000;
  padding: 0;
  margin: 0.4em 0 1.2em 0;
}

li {
  margin: 0 0 0 1.5em;
}

tt,
p>code,
li>code {
  display: inline-block;
  border: 1px solid #ddd;
  background: #eee;
  color: #000;
  border-radius: 0.3em;
  margin: -0.18em 0.2em;
  padding: 0.18em 0.2em;
  line-height: 1.2;
  font-weight: 700;
}

code {
  font-size: 0.9em;
}

pre {
  border: 0.1em solid #000;
  border-width: 0.1em 0.2em 0.2em 0.1em;
  background: #123;
  border-radius: 0.3em;
  margin: 0.8em 0;
  padding: 0;
}

pre>code {
  display: block;
  border: 0 solid #346;
  border-width: 0.2em 0 0 0.2em;
  background: inherit;
  padding: 0.3em 0.6em;
  margin: 0;
  color: #eee;
}

textarea._TEMPLATE,
textarea._COMPILED,
textarea._CONTEXT,
textarea._OUTPUT {
  width: 100%;
}

b._CODE_TAB {
  display: inline-block;
  background: #ccc;
  color: #24a;
  padding: 2px 6px;
  border: 1px solid #bbb;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0 2px 0 0;
  font-size: 0.8em;
  cursor: pointer;
}

b._CODE_TAB._ON,
b._CODE_TAB:hover {
  color: #999;
  background: #000;
  border-color: #333;
}

textarea,
.CodeMirror {
  background: #111!important;
  color: #fff;
  border: 1px solid #000!important;
  height: 400px;
  transition: border-color 0.5s;
}

textarea {
  outline: 0;
  padding: 4px 6px;
}

.CodeMirror-gutter {
  background: #181818;
  border-right: 1px solid #222;
  color: #999;
}

div.cm-s-blackboard div.CodeMirror-cursor {
  border-left: 2px solid #fff!important;
  text-indent: 20px;
  overflow: hidden;
}

a,
button,
input,
select,
textarea {
  transition: background 0.3s, border-color 0.2s, color 0.1s, text-decoration 0.1s;
}