textarea._TEMPLATE,
textarea._COMPILED,
textarea._CONTEXT,
textarea._OUTPUT {
	width: 100%;
}

b._CODE_TAB {
	display: inline-block;
	background: #111;
	color: #444;
	padding: 2px 6px;
	border: 1px solid #222;
	border-bottom: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin: 0 2px 0 0;
	cursor: pointer;
}

b._CODE_TAB._ON,
b._CODE_TAB:hover {
	color: #999;
	background: #000;
	border-color: #333;
}

textarea,
.CodeMirror {
	background: #000!important;
	color: #fff;
	border: 1px solid #333!important;
	height: 400px;
	font-size: 14px!important;
	font: 14px Menlo, "Lucida Console", "Courier New", monospace;
	transition: border-color 0.5s;
}

textarea:hover,
.CodeMirror:hover {
	border-color: #666!important;
	transition: border-color 1s;
}

textarea {
	outline: 0;
	padding: 4px 6px;
}

.CodeMirror-gutter {
	background: #181818;
	border-right: 1px solid #222;
	color: #999;
}

div.cm-s-blackboard div.CodeMirror-cursor {
	border-left: 2px solid #fff!important;
}