a {
	color: #12b;
	text-decoration: none;
}

a:hover {
	color: #e50;
}

h1, h2, h3, h4 {
	margin: 0.1em 0;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2em;
	font-weight: normal;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.2em;
	font-weight: normal;
}

#_FEATURES a._ANCHOR {
	margin: 0 0.4em;
	font-size: 0.8em;
}

a,
button,
input,
select,
textarea {
	transition: background 0.3s, border-color 0.2s, color 0.1s, text-decoration 0.1s;
}
