#_features ._box {
  background: #fff;
  border-radius: 1em;
  margin: 0.2em;
  padding: 0.1em;
}

#_features ._box4 {
  padding: 0.4em 0.8em;
  line-height: 1.5;
}

a._project {
  position: relative;
  display: block;
  padding: 0.2em;
  border: 1px solid #000;
  border-radius: 1em;
  background: #235;
  font-weight: 400;
  font-size: 1.2em;
  color: #fff;
  margin: -0.4em -0.3em;
}

a._project:hover {
  color: #fff;
  background: #248;
}

a._project:hover b {
  opacity: 1;
}

a._project img,
a._project svg {
  vertical-align: middle;
  width: 3em;
  height: 3em;
  margin: 0 0.5em 0 1.5em;
}

a._project u {
  margin-left: 0.2em;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none!important;
  opacity: 0.6;
}

b._ready,
b._undocumented,
b._idea {
  position: absolute;
  width: 1em;
  left: 0;
  top: 0;
  bottom: 0;
  margin: -1px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  opacity: 0.5;
}

b._ready {
  background: #0a0;
}

b._undocumented {
  background: #d00;
}

b._idea {
  background: #80d;
}
