#_STRIPE {
  display: none;
}

#_HEAD {
  background: #235;
  border: 0 solid #000;
  border-width: 1px 0;
}

#_HEAD>._PANEL {
  padding: 0.5em 1em;
}

#_SCROLLED {
  padding-top: 4.8em;
}

#_SCROLLED>#_STRIPE {
  position: fixed;
  z-index: 8;
  display: block;
  width: 100%;
  height: 1px;
  top: 0;
  background: #e50;
}

#_SCROLLED>#_HEAD {
  position: fixed;
  top: 1px;
  width: 100%;
  z-index: 8;
}

#_SCROLLED>#_FORK {
  position: fixed;
  z-index: 9;
}

#_LOGO {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.02em 0.04em 0.01em #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45);
}

h1 {
  margin: 0 0 0 -0.3em;
  font-size: 1.8em;
}

#_LOGO img {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0 0.2em 0 0;
  vertical-align: middle;
}

#_LOGO u {
  font-weight: 300;
  opacity: 0.6;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  text-decoration: none;
}

#_BODY {
  background: #f8f8f8;
}

#_FEATURES,
#_BADGES {
  background: #fc0;
  border-bottom: 1px solid #999;
  font-size: 1.2em;
}

#_BADGES,
#_BADGES a {
  line-height: 0.9;
}

#_BADGES {
  background: #abc;
  border-bottom: 1px solid #999;
  font-size: 0.1em;
}

#_BADGES>._PANEL {
  text-align: right;
  padding: 0.2em 0.8em;
}

#_BADGES a {
  vertical-align: top;
  display: inline-block;
  font-size: 12em;
  padding: 0.1em;
}

#_BADGES img {
  height: 1em;
}

#_FOOT {
  color: #555;
  font-size: 1.2em;
}

#_FOOT b {
  color: #666;
}

#_FOOT a {
  color: #349;
}

#_LIGHTERIO img {
  vertical-align: top;
  width: 1.3em;
  height: 1.3em;
}

._SET, ._SECTION {
  clear: both;
}

br {
  clear: both;
}

._AREA {
  margin: -1em;
  clear: both;
}

._BOX, ._BOX12 {
  padding: 1em;
}

._BOX1, ._BOX2, ._BOX3,
._BOX4, ._BOX5, ._BOX6,
._BOX7, ._BOX8, ._BOX9,
._BOX10, ._BOX11 {
  float: left;
  padding: 1em;
}

._BOX1 { width: 8.33%; }
._BOX2 { width: 16.67%; }
._BOX3 { width: 25%; }
._BOX4 { width: 33.33%; }
._BOX5 { width: 41.67%; }
._BOX6 { width: 50%; }
._BOX7 { width: 58.33%; }
._BOX8 { width: 66.67%; }
._BOX9 { width: 75%; }
._BOX10 { width: 83.33%; }
._BOX11 { width: 91.67%; }

._RIGHT { float: right; }

._ALIGN_RIGHT { text-align: right; }

#_FORK {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

#_FORK img {
  width: 6em;
  height: 6em;
}
