* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border-top: 0.4em solid #e50;
  font-family: Lato, Arial, sans-serif;
  background: #ccc;
  color: #000;
  height: 100%;
}

body._SCROLLED {
  border-width: 0.2em;
}

#_HEAD {
  background: #235;
  border: 0 solid #000;
  border-width: 1px 0;
}

#_LOGO {
  font-size: 1.6em;
  font-weight: 500;
  color: #fff;
  text-shadow: 0.02em 0.04em 0.01em #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45);
}

#_LOGO img,
#_LOGO svg {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 8px 0 0;
  vertical-align: middle;
}

#_LOGO span {
  opacity: 0.6;
  margin-left: 0.8em;
  font-size: 0.8em;
}

#_LOGO b {
  color: #888;
}

#_BODY{
  background: #eee;
}

#_PROJECTS {
  background: #eee;
}

#_FEATURES {
  background: #fc0;
  border-bottom: 1px solid #999;
  font-size: 1.4em;
}

#_FEATURES ._BOX {
  background: #fff;
  border-radius: 1em;
  margin: 0.2em;
  padding: 0.1em;
}

#_FEATURES ._BOX4 {
  padding: 0.4em 0.8em;
  line-height: 1.5;
}

#_PROJECTS ._BOX4 {
  padding: 0 0.6em;
}

#_FOOT {
  color: #555;
  font-size: 1.2em;
}

#_FOOT b {
  color: #666;
}

#_FOOT a {
  color: #349;
}

#_LIGHTERIO img {
  vertical-align: top;
  width: 1.3em;
  height: 1.3em;
}

li {
  margin: 0 0 0 1.5em;
}

._SET, ._SECTION {
  clear: both;
}

p {
  margin: 1em 0;
}

br {
  clear: both;
}

._SECTION {
  padding: 2em 0;
}

._BOX, ._BOX12  {
  padding: 1em;
}

._BOX1, ._BOX2, ._BOX3,
._BOX4, ._BOX5, ._BOX6,
._BOX7, ._BOX8, ._BOX9,
._BOX10, ._BOX11 {
  float: left;
  padding: 1em;
}

._BOX1 { width: 8.33%; }
._BOX2 { width: 16.67%; }
._BOX3 { width: 25%; }
._BOX4 { width: 33.33%; }
._BOX5 { width: 41.67%; }
._BOX6 { width: 50%; }
._BOX7 { width: 58.33%; }
._BOX8 { width: 66.67%; }
._BOX9 { width: 75%; }
._BOX10 { width: 83.33%; }
._BOX11 { width: 91.67%; }

._RIGHT { float: right; }

._ALIGN_RIGHT { text-align: right; }

#_FORK {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#_FORK img {
  width: 6em;
  height: 6em;
}

a._PROJECT {
  position: relative;
  display: block;
  padding: 0.2em;
  border: 1px solid #000;
  border-radius: 1em;
  background: #235;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  margin: -0.4em -0.3em;
}

a._PROJECT:hover {
  color: #fff;
  background: #248;
}

a._PROJECT:hover b._READY,
a._PROJECT:hover b._UNDOCUMENTED,
a._PROJECT:hover b._IDEA {
  opacity: 1;
}

a._PROJECT img,
a._PROJECT svg {
  vertical-align: middle;
  width: 3em;
  height: 3em;
  margin: 0 0.5em 0 1.5em;
}

a._PROJECT span {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.6;
}

a._PROJECT i {
  font-style: normal;
  font-weight: 600;
}

b._READY,
b._UNDOCUMENTED,
b._IDEA {
  position: absolute;
  width: 1em;
  left: 0;
  top: 0;
  bottom: 0;
  margin: -1px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  opacity: 0.5;
}

b._READY {
  background: #0a0;
}

b._UNDOCUMENTED {
  background: #d00;
}

b._IDEA {
  background: #80d;
}

._HIDDEN {
  display: none;
}
