body {
  font-size: 16px;
  min-width: 980px;
}

._panel {
  clear: both;
  margin: 0 auto;
  padding: 0.5em 1em;
  width: 980px;
}

@media all and (max-width: 1000px) {
  ._box1, ._box2, ._box3,
  ._box4, ._box5, ._box6,
  ._box7, ._box8, ._box9,
  ._box10, ._box11,
  ._panel {
    width: 100%;
  }
  #_tagline {
    display: none;
  }
  body {
    min-width: 400px;
  }
}
